* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.wrapper{
  height: 100svh;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color:rgb(167, 141, 228)
}

.flex-elem {
  display: flex;
}